# Ignore everything
**

# Allow files and directories
!demos
!tests
!src
!setup.py
!requirements.txt
!MANIFEST.in

# ignore unnecessary files inside the folders
**/*~
**/*.log
**/.DS_Store
**/Thumbs.Distribution
**/.idea
**/*.pyc

# binaries
**/*alignAudioScore*
**/*extractTonicTempoTuning*
**/*phraseSeg*
**/*MusikiToMusicXml*

# score outputs
**/*.svg
**/*.xml
!**/makams_usuls/Makamlar.xml
**/*.ly

# Jupyter Notebook
**/.ipynb_checkpoints
