*.pyc
*.*~
*.egg-info
.ipynb_checkpoints
.*
!.gitignore
!.travis.yml
!.codeclimate.yml
build/
dist/
env/

# binaries
*alignAudioScore*
*extractTonicTempoTuning*
*phraseSeg*
*MusikiToMusicXml*

# score outputs
*.svg
*.xml
*.ly

*.pkl
