recursive-include src/tomato *.json
recursive-include src/tomato/bin *
recursive-include src/tomato/config *.cfg
recursive-include src/tomato/models *
recursive-include src/tomato/music_data *

# temporary to be removed later
recursive-include src/tomato/symbolic/symbtr/converter/symbtr2musicxml/makams_usuls *
recursive-include src/tomato/symbolic/symbtr/converter/musicxml2lilypond/data *
